<h1>Login</h1>
<button
  mat-icon-button
  color="primary"
  class="form__help-button"
  [matMenuTriggerFor]="menu"
>
  <mat-icon>help</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="autoComplete('admin')">
    <span>Admin credentials</span>
  </button>
  <button mat-menu-item (click)="autoComplete('employee')">
    <span>Employee credentials</span>
  </button>
</mat-menu>
<form [formGroup]="form" class="form">
  <mat-form-field class="form__field">
    <mat-label> Email </mat-label>
    <input matInput formControlName="email" type="email" />
    <mat-error>{{ form | getError : "email" | showError }}</mat-error>
  </mat-form-field>
  <mat-form-field class="form__field">
    <mat-label> Password </mat-label>
    <input matInput formControlName="password" type="password" />
    <mat-error>{{ form | getError : "password" | showError }}</mat-error>
  </mat-form-field>
  <div class="form__actions">
    <!-- <a mat-flat-button [routerLink]="['', 'auth', 'register']">Register</a> -->
    <button mat-flat-button color="primary" (click)="onLogin()">Login</button>
  </div>
</form>
