.container {
  margin-top: 20px;
}

.card {
  max-width: 95%;
  margin: 0 auto;
  & img {
    margin: 10px 0;
  }
}

.empty-state {
  height: 100%;
  & figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
  }
  & figcaption {
    color: gray;
  }
}
