:host {
  display: grid;
  grid-template-areas:
    "toolbar toolbar"
    "sidebar content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.toolbar {
  grid-area: toolbar;
  z-index: 10;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  width: 90%;
  padding: 20px;
}
