<mat-toolbar color="primary">
  <button mat-icon-button (click)="onClickMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">CoderApp</span>
  <span class="spacer"></span>
  <ng-container *ngIf="user$ | async as user">
    <span>{{ user.firstName | titlecase }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="goToAccount(user.id)">
        <mat-icon>manage_accounts</mat-icon>
        <span>Account</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
