<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side" opened="opened">
    <nav>
      <ul class="sidenav__list">
        <li class="sidenav__list__item">
          <mat-icon
            class="sidenav__list__icon"
            color="primary"
            aria-hidden="false"
            fontIcon="home"
          ></mat-icon>
          <a href="#">Home</a>
        </li>
        <li class="sidenav__list__item">
          <mat-icon
            class="sidenav__list__icon"
            color="primary"
            aria-hidden="false"
            fontIcon="groups"
          ></mat-icon
          ><a href="#">Alumns</a>
        </li>
        <li class="sidenav__list__item">
          <mat-icon
            class="sidenav__list__icon"
            color="primary"
            aria-hidden="false"
            fontIcon="toc"
          ></mat-icon
          ><a href="#">Courses</a>
        </li>
      </ul>
    </nav>
  </mat-drawer>
</mat-drawer-container>
