<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="col">
        <mat-label>Course title</mat-label>
        <input matInput formControlName="title" />
        <mat-error>{{ form | getError : "title" | showError }}</mat-error>
      </mat-form-field>
      <mat-form-field class="col">
        <mat-label>Image URL</mat-label>
        <input matInput formControlName="imgUrl" type="url" />
        <mat-error>{{ form | getError : "imgUrl" | showError }}</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <mat-label>Course short description</mat-label>
        <textarea
          matInput
          placeholder="Some short description here (max 150 characters)"
          formControlName="shortDescription"
        ></textarea>
        <mat-error>{{
          form | getError : "shortDescription" | showError
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <mat-label>Course description</mat-label>
        <textarea
          matInput
          rows="5"
          placeholder="Some description here..."
          formControlName="description"
        ></textarea>
        <mat-error>{{ form | getError : "description" | showError }}</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-checkbox class="col" formControlName="available"
        >Course available</mat-checkbox
      >
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Save</button>
</div>
